*{
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif
}

body{
    display: flex;
    flex-direction: column;
}

header{
    color: white;
    background-color: grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.cabeca_itens{
    margin-bottom: 20px;
}

header a{
    margin: 10px;
}

.hero{
    background-color:  #C0C0C0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 30vh;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.row{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.box{
    background-color: whitesmoke;
    height: 150px;
    width: 600px;
    margin: 10px;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.featured{
    background-color: rgba(128, 128, 128, 0.63);
    margin: 0;
    padding: 30px;
}

footer{
    margin-top: 10px;
    color: white;
    border: 2px solid grey;
    background-color: black;
    display: flex;
    justify-content: center;
}

html{
    scroll-behavior: smooth;
    transition: 400ms;
}