*{
    font-weight: bold;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 30%;
    height: 100%;         
}

.container form{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid;
    width: 100%;
    gap: 10px;
}

.container form input{
    text-align: center;
    border: 2px solid;
    width: 30vh;
}


.container form span{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    border-radius: 10px;
    height: 25px;
    width: 30%;
}